modules/step_functions/config/transcribe-glue-databrew-state-machine.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Assign Variables",
  "States": {
    "Assign Variables": {
      "Type": "Pass",
      "Next": "StartTranscriptionJob",
      "Assign": {
        "transcribeSrcBucket": "{% $states.input.transcribe_src_bucket %}",
        "transcribeDstBucket": "{% $states.input.transcribe_dst_bucket %}",
        "glueSrcBucket": "{% $states.input.glue_src_bucket %}",
        "objectKey": "{% $states.input.object_key %}"
      }
    },
    "StartTranscriptionJob": {
      "Type": "Task",
      "Arguments": {
        "TranscriptionJobName": "{% $objectKey & '-convert-job-' & $states.context.Execution.Name %}",
        "IdentifyLanguage": false,
        "IdentifyMultipleLanguages": false,
        "LanguageCode": "ja-JP",
        "Media": {
          "MediaFileUri": "{% 's3://' & $transcribeSrcBucket & '/' & $objectKey %}"
        },
        "MediaFormat": "wav",
        "OutputBucketName": "{% $transcribeDstBucket %}",
        "OutputKey": "{% $objectKey & '/' & $replace($split($objectKey, '/')[-1], /\\.[^.]+$/, '') & '.json' %}",
        "Subtitles": {
          "Formats": ["vtt"],
          "OutputStartIndex": 0
        },
        "Settings": {
          "ChannelIdentification": false,
          "ShowSpeakerLabels": true,
          "MaxSpeakerLabels": 10
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:transcribe:startTranscriptionJob",
      "Next": "Wait5Sec",
      "Comment": "Execute text conversion",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "TranscriptionJobFailed"
        }
      ]
    },
    "Wait5Sec": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "GetTranscriptionJob"
    },
    "GetTranscriptionJob": {
      "Type": "Task",
      "Arguments": {
        "TranscriptionJobName": "{% $states.input.TranscriptionJob.TranscriptionJobName %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob",
      "Next": "Choice",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "TranscriptionJobFailed"
        }
      ]
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "ConverterLambdaInvoke",
          "Condition": "{% $states.input.TranscriptionJob.TranscriptionJobStatus = 'COMPLETED' %}"
        },
        {
          "Next": "TranscriptionJobFailed",
          "Condition": "{% $states.input.TranscriptionJob.TranscriptionJobStatus = 'FAILED' %}"
        }
      ],
      "Default": "Wait5Sec"
    },
    "ConverterLambdaInvoke": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${converter_lambda_arn}:$LATEST",
        "Payload": {
          "inputBucket": "{% $transcribeDstBucket %}",
          "inputKey": "{% $objectKey & '/' & $replace($split($objectKey, '/')[-1], /\\.[^.]+$/, '') & '.json' %}",
          "outputBucket": "{% $glueSrcBucket %}",
          "outputKey": "{% $objectKey & '/' & $replace($split($objectKey, '/')[-1], /\\.[^.]+$/, '') & '.xlsx' %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Success",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ConverterFailed"
        }
      ]
    },
    "ConverterFailed": {
      "Type": "Fail",
      "Error": "ConverterFailedException",
      "Cause": "Converter failed"
    },
    "Success": {
      "Type": "Succeed"
    },
    "TranscriptionJobFailed": {
      "Type": "Fail",
      "Error": "TranscriptionJobFailedException",
      "Cause": "Transcription job failed"
    }
  },
  "QueryLanguage": "JSONata"
}
