modules/step_functions/config/transcribe-glue-databrew-state-machine.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Assign Variables",
  "States": {
    "Assign Variables": {
      "Type": "Pass",
      "Next": "StartTranscriptionJob",
      "Assign": {
        "transcribeSrcBucket": "{% $states.input.transcribe_src_bucket %}",
        "transcribeDstBucket": "{% $states.input.transcribe_dst_bucket %}",
        "glueSrcBucket": "{% $states.input.glue_src_bucket %}",
        "glueDstBucket": "{% $states.input.glue_dst_bucket %}",
        "outputBucket": "{% $states.input.output_bucket %}",
        "glueRoleArn": "{% $states.input.glue_role_arn %}",
        "glueRecipeName": "{% $states.input.glue_recipe_name %}",
        "glueRecipeVersion": "{% $states.input.glue_recipe_version %}",
        "objectKey": "{% $states.input.object_key %}"
      }
    },
    "StartTranscriptionJob": {
      "Type": "Task",
      "Arguments": {
        "TranscriptionJobName": "{% $replace($replace($split($objectKey, '/')[-1],/[^A-Za-z0-9._-]+/,'-'),/^-+|-+$/,'') & '-convert-job-' & $states.context.Execution.Name %}",
        "IdentifyLanguage": false,
        "IdentifyMultipleLanguages": false,
        "LanguageCode": "ja-JP",
        "Media": {
          "MediaFileUri": "{% 's3://' & $transcribeSrcBucket & '/' & $objectKey %}"
        },
        "MediaFormat": "wav",
        "OutputBucketName": "{% $transcribeDstBucket %}",
        "OutputKey": "{% $split($objectKey, '/')[-1] & '/' & $replace($split($objectKey, '/')[-1], /\\.[^.]+$/, '') & '.json' %}",
        "Subtitles": {
          "Formats": ["vtt"],
          "OutputStartIndex": 0
        },
        "Settings": {
          "ChannelIdentification": false,
          "ShowSpeakerLabels": true,
          "MaxSpeakerLabels": 10
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:transcribe:startTranscriptionJob",
      "Next": "Wait5Sec",
      "Comment": "Execute text conversion",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "TranscriptionJobFailed"
        }
      ],
      "Assign": {
        "transcribeJobName": "{% $states.result.TranscriptionJob.TranscriptionJobName %}"
      }
    },
    "Wait5Sec": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "GetTranscriptionJob"
    },
    "GetTranscriptionJob": {
      "Type": "Task",
      "Arguments": {
        "TranscriptionJobName": "{% $states.input.TranscriptionJob.TranscriptionJobName %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob",
      "Next": "ChoiceTranscribeJobState",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "TranscriptionJobFailed"
        }
      ]
    },
    "ChoiceTranscribeJobState": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "DeleteTranscriptionJob",
          "Condition": "{% $states.input.TranscriptionJob.TranscriptionJobStatus = 'COMPLETED' %}"
        },
        {
          "Next": "TranscriptionJobFailed",
          "Condition": "{% $states.input.TranscriptionJob.TranscriptionJobStatus = 'FAILED' %}"
        }
      ],
      "Default": "Wait5Sec"
    },
    "DeleteTranscriptionJob": {
      "Type": "Task",
      "Arguments": {
        "TranscriptionJobName": "{% $transcribeJobName %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:transcribe:deleteTranscriptionJob",
      "Next": "ConverterTranscribeJsonLambdaInvoke"
    },
    "ConverterTranscribeJsonLambdaInvoke": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${converter_json_lambda_arn}:$LATEST",
        "Payload": {
          "inputBucket": "{% $transcribeDstBucket %}",
          "inputKey": "{% $split($objectKey, '/')[-1] & '/' & $replace($split($objectKey, '/')[-1], /\\.[^.]+$/, '') & '.json' %}",
          "outputBucket": "{% $glueSrcBucket %}",
          "outputKey": "{% $split($objectKey, '/')[-1] & '/' & $replace($split($objectKey, '/')[-1], /\\.[^.]+$/, '') & '.xlsx' %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "CreateDataset",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ConverterJsonFailed"
        }
      ]
    },
    "CreateDataset": {
      "Type": "Task",
      "Arguments": {
        "Name": "{% $replace($replace($replace($split($objectKey, '/')[-1],/\\.[^.]+$/,''),/[^A-Za-z0-9.-]+/,'-'),/^-+|-+$/,'') & '-dataset' %}",
        "Input": {
          "S3InputDefinition": {
            "Bucket": "{% $glueSrcBucket %}",
            "Key": "{% $split($objectKey, '/')[-1] & '/' & $replace($split($objectKey, '/')[-1], /\\.[^.]+$/, '') & '.xlsx' %}"
          }
        },
        "Format": "EXCEL",
        "FormatOptions": {
          "Excel": {
            "HeaderRow": true,
            "SheetIndexes": [0]
          }
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:databrew:createDataset",
      "Next": "CreateRecipeJob",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "CreateDatasetFailed"
        }
      ],
      "Assign": {
        "glueDatasetName": "{% $states.result.Name %}"
      }
    },
    "CreateRecipeJob": {
      "Type": "Task",
      "Arguments": {
        "Name": "{% $glueDatasetName & '-recipejob' %}",
        "RoleArn": "{% $glueRoleArn %}",
        "DatasetName": "{% $glueDatasetName %}",
        "RecipeReference": {
          "Name": "{% $glueRecipeName %}",
          "RecipeVersion": "{% $glueRecipeVersion %}"
        },
        "Outputs": [
          {
            "Location": {
              "Bucket": "{% $glueDstBucket %}",
              "Key": "{% $split($objectKey, '/')[-1] %}"
            },
            "Format": "CSV",
            "Overwrite": true,
            "MaxOutputFiles": 1
          }
        ]
      },
      "Resource": "arn:aws:states:::aws-sdk:databrew:createRecipeJob",
      "Next": "StartJobRun",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "DeleteDatasetCauseFailed"
        }
      ],
      "Assign": {
        "glueRecipeJobName": "{% $states.result.Name %}"
      }
    },
    "StartJobRun": {
      "Type": "Task",
      "Resource": "arn:aws:states:::databrew:startJobRun",
      "Arguments": {
        "Name": "{% $glueRecipeJobName %}"
      },
      "Next": "Wait2Min",
      "Assign": {
        "glueJobRunId": "{% $states.result.RunId %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "DeleteJobCauseFailed"
        }
      ]
    },
    "DeleteJobCauseFailed": {
      "Type": "Task",
      "Arguments": {
        "Name": "{% $glueRecipeJobName %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:databrew:deleteJob",
      "Next": "DeleteDatasetCauseFailed"
    },
    "Wait2Min": {
      "Type": "Wait",
      "Seconds": 120,
      "Next": "DescribeJobRun"
    },
    "DescribeJobRun": {
      "Type": "Task",
      "Arguments": {
        "Name": "{% $glueRecipeJobName %}",
        "RunId": "{% $glueJobRunId %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:databrew:describeJobRun",
      "Next": "ChoiceJobRunState"
    },
    "ChoiceJobRunState": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "DeleteJobCauseSuccess",
          "Condition": "{% $states.input.State = 'SUCCEEDED' %}"
        },
        {
          "Next": "DeleteJobCauseFailed",
          "Condition": "{% $states.input.State in ['FAILED', 'TIMEOUT'] %}"
        }
      ],
      "Default": "Wait2Min"
    },
    "DeleteJobCauseSuccess": {
      "Type": "Task",
      "Arguments": {
        "Name": "{% $glueRecipeJobName %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:databrew:deleteJob",
      "Next": "DeleteDatasetCauseSuccess"
    },
    "DeleteDatasetCauseSuccess": {
      "Type": "Task",
      "Arguments": {
        "Name": "{% $glueDatasetName %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:databrew:deleteDataset",
      "Next": "ConverterGlueCsvLambdaInvoke"
    },
    "ConverterGlueCsvLambdaInvoke": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${converter_csv_lambda_arn}:$LATEST",
        "Payload": {
          "inputBucket": "{% $glueDstBucket %}",
          "inputKey": "{% $split($objectKey, '/')[-1] & '/' & $glueRecipeJobName & '_part00000.csv' %}",
          "outputBucket": "{% $outputBucket %}",
          "outputKey": "{% $split($objectKey, '/')[-1] & '/' & $replace($split($objectKey, '/')[-1], /\\.[^.]+$/, '') & '.txt' %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Success",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ConverterCsvFailed"
        }
      ]
    },
    "ConverterCsvFailed": {
      "Type": "Fail"
    },
    "Success": {
      "Type": "Succeed"
    },
    "DeleteDatasetCauseFailed": {
      "Type": "Task",
      "Arguments": {
        "Name": "{% $glueDatasetName %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:databrew:deleteDataset",
      "Next": "JobFailed"
    },
    "JobFailed": {
      "Type": "Fail",
      "Error": "CreateRecipeJobException"
    },
    "CreateDatasetFailed": {
      "Type": "Fail",
      "Error": "CreateDatasetException"
    },
    "ConverterJsonFailed": {
      "Type": "Fail",
      "Error": "ConverterFailedException"
    },
    "TranscriptionJobFailed": {
      "Type": "Fail",
      "Error": "TranscriptionJobFailedException"
    }
  },
  "QueryLanguage": "JSONata"
}
