modules/step_functions/config/transcribe-glue-databrew-state-machine.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Assign Variables",
  "States": {
    "Assign Variables": {
      "Type": "Pass",
      "Next": "StartTranscriptionJob",
      "Assign": {
        "transcribeSrcBucket": "{% $states.input.transcribe_src_bucket %}",
        "transcribeDstBucket": "{% $states.input.transcribe_dst_bucket %}",
        "glueSrcBucket": "{% $states.input.glue_src_bucket %}",
        "glueDstBucket": "{% $states.input.glue_dst_bucket %}",
        "glueRoleArn": "{% $states.input.glue_role_arn %}",
        "glueRecipeName": "{% $states.input.glue_recipe_name %}",
        "glueRecipeVersion": "{% $states.input.glue_recipe_version %}",
        "objectKey": "{% $states.input.object_key %}"
      }
    },
    "StartTranscriptionJob": {
      "Type": "Task",
      "Arguments": {
        "TranscriptionJobName": "{% $replace($replace($split($objectKey, '/')[-1],/[^A-Za-z0-9._-]+/,'-'),/^-+|-+$/,'') & '-convert-job-' & $states.context.Execution.Name %}",
        "IdentifyLanguage": false,
        "IdentifyMultipleLanguages": false,
        "LanguageCode": "ja-JP",
        "Media": {
          "MediaFileUri": "{% 's3://' & $transcribeSrcBucket & '/' & $objectKey %}"
        },
        "MediaFormat": "wav",
        "OutputBucketName": "{% $transcribeDstBucket %}",
        "OutputKey": "{% $objectKey & '/' & $replace($split($objectKey, '/')[-1], /\\.[^.]+$/, '') & '.json' %}",
        "Subtitles": {
          "Formats": ["vtt"],
          "OutputStartIndex": 0
        },
        "Settings": {
          "ChannelIdentification": false,
          "ShowSpeakerLabels": true,
          "MaxSpeakerLabels": 10
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:transcribe:startTranscriptionJob",
      "Next": "Wait5Sec",
      "Comment": "Execute text conversion",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "TranscriptionJobFailed"
        }
      ],
      "Assign": {
        "transcribeJobName": "{% $states.result.TranscriptionJob.TranscriptionJobName %}"
      }
    },
    "Wait5Sec": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "GetTranscriptionJob"
    },
    "GetTranscriptionJob": {
      "Type": "Task",
      "Arguments": {
        "TranscriptionJobName": "{% $states.input.TranscriptionJob.TranscriptionJobName %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob",
      "Next": "Choice",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "TranscriptionJobFailed"
        }
      ]
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "DeleteTranscriptionJob",
          "Condition": "{% $states.input.TranscriptionJob.TranscriptionJobStatus = 'COMPLETED' %}"
        },
        {
          "Next": "TranscriptionJobFailed",
          "Condition": "{% $states.input.TranscriptionJob.TranscriptionJobStatus = 'FAILED' %}"
        }
      ],
      "Default": "Wait5Sec"
    },
    "DeleteTranscriptionJob": {
      "Type": "Task",
      "Arguments": {
        "TranscriptionJobName": "{% $transcribeJobName %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:transcribe:deleteTranscriptionJob",
      "Next": "ConverterLambdaInvoke"
    },
    "ConverterLambdaInvoke": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${converter_lambda_arn}:$LATEST",
        "Payload": {
          "inputBucket": "{% $transcribeDstBucket %}",
          "inputKey": "{% $objectKey & '/' & $replace($split($objectKey, '/')[-1], /\\.[^.]+$/, '') & '.json' %}",
          "outputBucket": "{% $glueSrcBucket %}",
          "outputKey": "{% $objectKey & '/' & $replace($split($objectKey, '/')[-1], /\\.[^.]+$/, '') & '.xlsx' %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "CreateDataset",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ConverterFailed"
        }
      ]
    },
    "CreateDataset": {
      "Type": "Task",
      "Arguments": {
        "Name": "{% $replace($replace($replace($split($objectKey, '/')[-1],/\\.[^.]+$/,''),/[^A-Za-z0-9.-]+/,'-'),/^-+|-+$/,'') & '-dataset' %}",
        "Input": {
          "S3InputDefinition": {
            "Bucket": "{% $glueSrcBucket %}",
            "Key": "{% $objectKey & '/' & $replace($split($objectKey, '/')[-1], /\\.[^.]+$/, '') & '.xlsx' %}"
          }
        },
        "Format": "EXCEL",
        "FormatOptions": {
          "Excel": {
            "HeaderRow": true,
            "SheetIndexes": [0]
          }
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:databrew:createDataset",
      "Next": "CreateRecipeJob",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "CreateDatasetFailed"
        }
      ],
      "Assign": {
        "datasetName": "{% $states.result.Name %}"
      }
    },
    "CreateRecipeJob": {
      "Type": "Task",
      "Arguments": {
        "Name": "{% $datasetName & '-recipejob' %}",
        "RoleArn": "{% $glueRoleArn %}",
        "DatasetName": "{% $datasetName %}",
        "RecipeReference": {
          "Name": "{% $glueRecipeName %}",
          "RecipeVersion": "{% $glueRecipeVersion %}"
        },
        "Outputs": [
          {
            "Location": {
              "Bucket": "{% $glueDstBucket %}",
              "Key": "{% $objectKey %}"
            },
            "Format": "CSV",
            "Overwrite": true,
            "MaxOutputFiles": 1
          }
        ]
      },
      "Resource": "arn:aws:states:::aws-sdk:databrew:createRecipeJob",
      "Next": "Success",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "DeleteDatasetCauseFailedCreateRecipeJob"
        }
      ]
    },
    "DeleteDatasetCauseFailedCreateRecipeJob": {
      "Type": "Task",
      "Arguments": {
        "Name": "{% $datasetName %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:databrew:deleteDataset",
      "Next": "CreateRecipeJobFailed"
    },
    "CreateRecipeJobFailed": {
      "Type": "Fail",
      "Error": "CreateRecipeJobException"
    },
    "CreateDatasetFailed": {
      "Type": "Fail",
      "Error": "CreateDatasetException"
    },
    "ConverterFailed": {
      "Type": "Fail",
      "Error": "ConverterFailedException"
    },
    "Success": {
      "Type": "Succeed"
    },
    "TranscriptionJobFailed": {
      "Type": "Fail",
      "Error": "TranscriptionJobFailedException"
    }
  },
  "QueryLanguage": "JSONata"
}
